header {
  z-index: $higher_index;
  
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  position: absolute;
  top: 0;
  left: 0; 
  right: 0; 

  margin: 0 auto;
  padding: 0 10px;
  height: $header_height_mobile;
  background-color: rgba(255, 255, 255, 0.9);

  z-index: 990;
  box-sizing: border-box;
  
  aside {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;

    img {
      width: 120px;
    }

    p {
      margin: 0 0 0 10px;
      font-family: 'ACaslonPro-Regular';
      font-size: 10px;
      text-transform: uppercase;
      color: $dark_grey;
    }

    > div {
      margin: 0 0 0 15px;
      width: 20px;
      height: 20px;
    }
  }

  @include breakpoint($tablet) {
    padding: 0 20px;
    height: $header_height_tablet;
    max-width: 1440px;

    aside {
      margin: 0 60px; 

      img {
        width: 140px;
      }
    }
  }
}