// Colors
$light-grey: rgba(140, 140, 140, 1);
$dark-grey: rgb(100, 100, 100);

// Layout
$header_height_mobile:     50px;
$footer_height_mobile:     60px;
$header_height_tablet:     70px;
$footer_height_tablet:     60px;

// Breakpoints
$mobile:            520px;
$tablet:            700px;
$tablet_landscape:  1024px;
$desktop:           1201px;
