.t__home-page {
  section.home-page {
    &__slider,
    &__posts {
      justify-content: center;
      margin: 30px 0 0;
    }
  }

  @include breakpoint($tablet) {
    section.home-page {
      &__slider,
      &__posts {
        justify-content: center;
        margin: 30px 0 0;
      }
    }
  }
}