.t__home-page {
  section.home-page {
    justify-content: center;

    &__gallery {

    }

    &__posts {
      margin: 30px 0 0;
    }
  }

  @include breakpoint($tablet) {
    section.home-page {
      &__posts {
        margin: 40px 0 0;
      }
    }
  }
}